---
---

@import "minima";

.tabular-grid {
  display: grid;
  text-align: center; 
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 1rem;

  & > div {
    border-left: 1px solid grey;
    border-top: 1px solid grey;
  }
}

.centered {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.margin {
  margin: 15px;
}

embed {
  width: 100%;
  max-width: 500px;
}

.katex-display {
  overflow-x: auto;
  padding-bottom: 1em;
  margin-bottom: -1em;
}
